.frame {
    background-image: url(../img/subscribe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.frame__row {
    display: flex;
}

.frame__figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 50%;
}

.frame__img {
    margin: 97px 0 30px 0;
}

.frame__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding: 0 105px;
    margin-bottom: 126px;
}

.frame__item {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.frame__paragtop {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #222224;
}

.frame__paragbtm {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #222224;
    margin-bottom: 32px;
}

.frame__form {
    display: flex;
    height: 49px;
}

.frame__email {
    height: 100%;
    width: 256px;
    border: 1px solid #E1E1E1;
    background: #E1E1E1;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    color: #222224;
    opacity: 0.67;
    padding: 0 22px;
}

.frame__btn {
    height: 100%;
    width: 100px;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;
    color: #F26376;
}

.frame__btn:hover {
    background: #F16D7F;
    color: #FFFFFF;
}


.sec {
    background: #222224;
}

.sec__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec__copy {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    margin: 30px 0;
}

.sec__menu {
    display: flex;
}

.sec__menu i {
    color: #000;
    background: #fff;
    margin-left: 7px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec__menu i:hover {
    background: #F16D7F;
    color: #fff;
}