.items {
    margin: 66px 0 96px 0;
}

.items__title {
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-align: center;
    margin-bottom: 6px;
}

.items__text {
    color: #9F9F9F;
    text-align: center;
}

.text {
    font-size: 14px;
    line-height: 17px;
}

.items__card {
    padding: 48px 0 18px 0;
}

.card__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card__column {
    width: 31.5%;
    margin-bottom: 30px;
}

.column__body {
    background: #F8F8F8;
    // margin-bottom: 30px;
    position: relative;
}

.column__row {
    display: flex;
    flex-direction: column;
}

.column__body:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
    transform: scale(1.1);
    transition: all 0.5s;
}

.column__body:hover .card__img {
    filter: brightness(30%);
}

.card__body {
    padding: 25px 29px 20px 16px;
}

.card__title {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.card__img img {
    width: 100%;
}

.card__text {
    color: #5D5D5D;
    padding: 12px 0 18px 0;
}

.card__price {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.column__add {
    display: none;
    position: absolute;
    top: 188px;
    width: 100%;
    justify-content: center;
    pointer-events: none;
}

.add__cart {
    display: flex;
    border: 1px solid #fff;
    padding: 13px;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
}

.add__cart img {
    margin-right: 11px;
}

.add__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.column__body:hover .column__add {
    display: flex;
}

.add__cart:hover {
    box-shadow: 0 0 10px 0px #fff;
}

.items__button {
    display: flex;
    justify-content: center;
}

.items__btn {
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    border: 1px solid #FF6A6A;
    padding: 14px 38px;
    transition: all 0.5s;
}

.items__btn:hover {
    background: #F16D7F;
    color: #FFFFFF;
}

@import "../scss/media";