@media (max-width:1600px) {
    .brand__body {
        min-width: 405px;
    }

}

@media (max-width:1024px) {
    .content {
        padding: 0 2%;
    }

    .brand__body {
        margin: 0px 33px 0px 39px;
        min-width: 311px;
    }

    .brand__text {
        font-size: 24px;
        line-height: 28px;
    }

    .brand__textbold {
        font-size: 44px;
        line-height: 52px;
    }

    .offer {
        margin-top: 2%;
    }

    .offer__item {
        margin-bottom: 2.5%;
    }

    .feature__row {
        flex-direction: column;
        align-items: center;
    }

    .feature__item {
        margin-top: 48px;
    }

    .feature {
        padding: 0 0 64px;
    }

}

@media (max-width:769px) {
    .card__column {
        width: 48.5%;
        margin-bottom: 3%;
        transition: all 0.5s;
    }

    .frame__row {
        flex-direction: column;
    }

    .frame__text {
        margin-bottom: 48px;
    }

    .frame__form {
        margin-bottom: 140px;
    }
}

@media (max-width:767px) {
    .content {
        padding: 0 2%;
    }

    .brand__body {
        display: flex;
        justify-content: center;
        margin: 0;
        min-width: 263px;
        padding: 148px 45px;
        flex-grow: 1;
    }

    .brand__text {
        font-size: 20px;
        line-height: 24px;
    }

    .brand__textbold {
        font-size: 38px;
        line-height: 45px;
    }

    .sec__row {
        margin: 0 32px;
    }

    .brand__img {
        display: none;
    }

}

@media (min-width:426px) and (max-width:1140px) {
    .item__text {
        font-size: calc(6px + (10 + 10 * 0.7) * ((100vw - 426px) / 1140));
    }

    .item__textcolor {
        font-size: calc(8px + (16 + 16 * 0.7) * ((100vw - 426px) / 1140));
    }

}

@media (max-width:425px) {
    .offer__wrap {
        flex-wrap: wrap;
        transition: all 0.5s;
    }

    .offer__item {
        width: 100%;
    }

    .item__img {
        width: 100%;
    }

    .item__img-acc img {
        height: 111px;
        object-fit: cover;
    }

    .text__accer {
        top: 30%;
        left: 30%;
    }

    .offer {
        margin-top: 65px;
    }

    .card__column {
        width: 100%;
        margin-bottom: 3%;
        transition: all 0.5s;
    }

}

@media (max-width:375px) {
    .list_reg {
        display: none;
    }

    .list_cart {
        display: none;
    }

    .sec__row {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .sec__copy {
        margin: 30px 0 9px;
    }

    .sec__menu {
        margin-top: 43px;
    }

    .frame__email {
        max-width: 256px;
    }

    .frame__text {
        margin-bottom: 59px;
    }

    .frame__paragbtm {
        font-size: 14px;
    }
}