@media (max-width:1140px) {
    .brand__img {
        height: auto;
        flex: 1 1 82%;
        margin-right: 39px;
    }

    .brand__text {
        font-size: 24px;
        line-height: 28px;
    }

    .brand__textbold {
        font-size: 44px;
        line-height: 53px;
    }

    .feature__row {
        flex-direction: column;
        align-items: center;
    }

    .feature__item {
        margin-top: 48px;
    }

    .feature {
        padding: 0 0 64px;
    }


}

@media (max-width:1024px) {
    .content {
        padding: 0 2%;
    }

    .offer {
        margin-top: 2%;
    }

    .offer__item {
        margin-bottom: 2.5%;
    }

    .card__column {
        width: 48.5%;
        margin-bottom: 3%;
    }

    .frame__row {
        flex-direction: column;
    }

    .frame__text {
        margin-bottom: 48px;
        padding: 0 24%;
    }

    .frame__form {
        margin-bottom: 140px;
    }

}

@media (min-width:767px) and (max-width:1024px) {
    .text__women {
        top: 45%;
        left: 17%;
    }

    .text__men {
        position: absolute;
        top: 45%;
        left: 25%;
    }

    .text__kids {
        position: absolute;
        top: 45%;
        left: 25%;
    }

    .text__accer {
        position: absolute;
        top: 40%;
        left: 40%;
    }
}

@media (max-width:767px) {
    .content {
        padding: 0 2%;
    }

    .offer__wrap {
        flex-wrap: wrap;
    }

    .offer__item {
        width: 100%;
    }

    .item__img {
        width: 100%;

    }

    .item__img img {
        max-height: 250px;
        object-fit: cover;
        object-position: top;
    }


    .item__img-acc img {
        height: 111px;
        object-fit: cover;
    }


    .text__accer {
        top: 20%;
        left: 30%;
    }

    .card__column {
        width: 100%;
        margin-bottom: 3%;
    }

    .sec__row {
        margin: 0 32px;
    }

    .brand__img {
        display: none;
    }

    .brand__body {
        padding: 148px 56px;
        width: 100%;
    }

    .brand__text {
        font-size: 20px;
        line-height: 24px;
    }

    .brand__textbold {
        font-size: 38px;
        line-height: 46px;
    }

    .offer {
        margin-top: 65px;
    }

    .text__accer {
        top: 30%;
        left: 27%;
    }

    .content {
        padding: 0 2%;
    }

    .frame__text {
        margin-bottom: 59px;
        padding: 0 4%;
    }

    .frame__paragbtm {
        font-size: 14px;
    }

}

@media (min-width:550px) and (max-width:767px) {
    .column__row {
        flex-direction: row;
    }

    .card__img img {
        width: auto;
    }

    .column__add {
        left: 17%;
        justify-content: start;
    }

}

@media (max-width:375px) {
    .list_reg {
        display: none;
    }

    .list_cart {
        display: none;
    }

    .sec__row {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .sec__copy {
        margin: 30px 0 9px;
    }

    .sec__menu {
        margin-top: 43px;
    }

    .frame__email {
        max-width: 256px;
    }
}