.offer {
    margin-top: 65px;
}

.offer__row {
    display: flex;
    flex-direction: column;

}

.offer__wrap {
    display: flex;
    justify-content: space-between;

}

.offer__item {
    margin-bottom: 30px;
    width: 31.5%;
    position: relative;
}

.offer__item-acc {
    position: relative;
}

.item__body:hover .item__img {
    filter: brightness(30%);
    transform: scale(1.1);
    transition: all 0.5s;
}

.item__body-acc:hover .item__img-acc {
    filter: brightness(30%);
    transform: scale(1.1);
    transition: all 0.5s;
}

.item__img img,
.item__img-acc img {
    width: 100%;
}

.item__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.text__women {
    position: absolute;
    top: 45%;
    left: 30%;
}

.text__men {
    position: absolute;
    top: 45%;
    left: 35%;
}

.text__kids {
    position: absolute;
    top: 45%;
    left: 35%;
}

.text__accer {
    position: absolute;
    top: 45%;
    left: 43%;
}

.item__textcolor {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}

@import "../scss/media";