.offer {
    margin: 65px 0 96px 0;
}

.offer__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.offer__item {
    position: relative;
    margin-bottom: 30px;
}

.item__body:hover .item__img {
    filter: brightness(30%);
}

.offer__item:last-child {
    margin-bottom: 0;
}

.item__img img {
    width: 100%;
}

.item__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.text__women {
    position: absolute;
    top: 105px;
    left: 103px;
}

.text__men {
    position: absolute;
    top: 105px;
    left: 125px;
}

.text__kids {
    position: absolute;
    top: 105px;
    left: 123px;
}

.text__accer {
    position: absolute;
    top: 65px;
    left: 491px;
}

.item__textcolor {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}