@import "../scss/reset";

body {
    font-family: 'Lato', sans-serif;
}

@import "../scss/vars";

.container {
    max-width: $site-wigth;
    margin: 0 auto;
}

@import "../scss/mixins";

@import "../scss/header";

@import "../scss/brand";

@import "../scss/offer";

@import "../scss/items";

@import "../scss/feature";

@import "../scss/footer";

/* Catalog */

@import "../scss/catalog";

// Product

@import "../scss/product";

// Cart

@import "../scss/cart";

/* Registration */

@import "../scss/registration";